
LQC/Arafatur/Multiscale_Approximate_Value.ipynb
LQC/Cost_Analysis.ipynb
LQC/LQC_Multiscal_Apprxmt_N100_Cost.txt
LQC/LQC_Updated_4_21.ipynb
LQC/model_N10_LQC_Value_uniform_0_1.pth
LQC/Multiscale_Closed_Form_Value.ipynb
LQC/N10_fine_dic_LQC_Aprxt_Val_unfrm_0_1.json
LQC/N10_fine_dic_LQC_Aprxt_Val_unfrm_0_1_alpa_0.1.json
LQC/test_example_LQC.ipynb
